﻿<%
import plexpy
from plexpy import version
%>
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PlexPy - ${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="interfaces/default/css/bootstrap3/bootstrap.css" rel="stylesheet">
    <link href="interfaces/default/css/plexpy.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="interfaces/default/css/font-awesome.min.css" rel="stylesheet">
    ${next.headIncludes()}

    <link rel="icon" type="image/x-icon" href="interfaces/default/images/favicon.ico"/>
    <!-- touch icons -->
    <link rel="shortcut icon" href="interfaces/default/images/favicon.png">
    <link rel="apple-touch-icon" href="interfaces/default/images/icon_iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="interfaces/default/images/icon_ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="interfaces/default/images/icon_iphone@2x.png">
    <link rel="apple-touch-icon" sizes="144x144" href="interfaces/default/images/icon_ipad@2x.png">
</head>

<body class="content">
<div class="container">
    <div id="ajaxMsg" class="ajaxMsg"></div>
    % if plexpy.CONFIG.CHECK_GITHUB and not plexpy.CURRENT_VERSION:
    <div id="updatebar" style="display: none;">
        You're running an unknown version of PlexPy. <a href="update">Update</a> or
        <a href="#" id="updateDismiss">Close</a>
    </div>
    % elif plexpy.CONFIG.CHECK_GITHUB and plexpy.CURRENT_VERSION != plexpy.LATEST_VERSION and plexpy.COMMITS_BEHIND > 0 and plexpy.INSTALL_TYPE != 'win':
    <div id="updatebar" style="display: none;">
        A <a
            href="https://github.com/${plexpy.CONFIG.GIT_USER}/plexpy/compare/${plexpy.CURRENT_VERSION}...${plexpy.LATEST_VERSION}">
        newer version</a> is available. You're ${plexpy.COMMITS_BEHIND} commits behind. <a href="update">Update</a> or
        <a href="#" id="updateDismiss">Close</a>
    </div>
    % endif
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">
                    <img alt="PlexPy" src="interfaces/default/images/logo-plexpy@2x.png" height="40">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    % if title=="Home":
                        <li class="active"><a href="home"><i class="fa fa-lg fa-home"></i></a></li>
                    % else:
                        <li><a href="home"><i class="fa fa-lg fa-home"></i></a></li>
                    % endif
                    % if title=="Users" or title=="User":
                        <li class="active"><a href="users">Users</a></li>
                    % else:
                        <li><a href="users">Users</a></li>
                    % endif
                    % if title=="History":
                    <li class="active"><a href="history">History</a></li>
                    % else:
                    <li><a href="history">History</a></li>
                    % endif
                    % if title=="Graphs":
                        <li class="active"><a href="graphs">Graphs</a></li>
                    % else:
                        <li><a href="graphs">Graphs</a></li>
                    % endif
                    % if title=="Synced Items":
                        <li class="active"><a href="sync">Synced Items</a></li>
                    % else:
                        <li><a href="sync">Synced Items</a></li>
                    % endif
                    % if title=="Log":
                        <li class="active"><a href="logs">Logs</a></li>
                    % else:
                        <li><a href="logs">Logs</a></li>
                    % endif
                    % if title=="Settings":
                        <li class="active"><a href="settings">Settings</a></li>
                    % else:
                        <li><a href="settings">Settings</a></li>
                    % endif
                </ul>
            </div>
        </div>
    </nav>
</div>

${next.headerIncludes()}
<div class="body-container">
    ${next.body()}
</div>

<script src="interfaces/default/js/jquery-2.1.4.min.js"></script>
<script src="interfaces/default/js/bootstrap3/bootstrap.min.js"></script>
<script src="interfaces/default/js/script.js"></script>
<script>
    $('#updateDismiss').click(function() {
        $('#updatebar').slideUp('slow');
        // Set cookie to remember dismiss decision for 1 hour.
        setCookie('updateDismiss', 'true', 1/24);
    });

    if (!getCookie('updateDismiss')) {
        $('#updatebar').show();
    }
</script>
${next.javascriptIncludes()}
</body>
</html>

<%def name="javascriptIncludes()"></%def>
<%def name="headIncludes()"></%def>
<%def name="headerIncludes()"></%def>
