<%doc>
USAGE DOCUMENTATION :: PLEASE LEAVE THIS AT THE TOP OF THIS FILE

For Mako templating syntax documentation please visit: http://docs.makotemplates.org/en/latest/

Filename:           current_activity.html
Version:            0.1
Variable names:     data [list]

data :: Usable parameters

data['stream_count']    Returns the current number of active streams
data['sessions']        Returns an array containing session data

data[sessions] :: Usable parameters

== Global keys ==
session_key                 Returns a unique session id for the active stream
rating_key                  Returns the unique identifier for the media item.
media_index                 Returns the index of the media item.
parent_media_index          Returns the index of the media item's parent.
type                        Returns the type of session. Either 'track', 'episode' or 'movie'.
thumb                       Returns the location of the item's thumbnail. Use with pms_image_proxy.
bif_thumb                   Returns the location of the item's bif thumbnail. Use with pms_image_proxy.
art                         Returns the location of the item's artwork
progress_percent            Returns the current progress of the item. 0 to 100.
user                        Returns the name of the user owning the session.
user_id                     Returns the Plex user id if available.
machine_id                  Returns the machine id of the players being used.
friendly_name               Returns the friendlly name of the user owning the session.
user_thumb                  Returns the profile picture of the user owning the session.
state                       Returns the state of the current session. Either 'playing', 'paused' or 'buffering'.
title                       Returns the name of the episode, movie or music track.
year                        Returns the year of the episode, movie, or clip.
player                      Returns the name of the platform used to play the stream.
platform                    Returns the type of platform used to play the stream.
throttled                   Returns true if the transcode session is throttled.
transcode_progress          Returns the current transcode progress of the item. 0 to 100.
transcode_speed             Returns the current transcode speed of the item.
audio_decision              Returns the audio transcode decision. Either 'transcode', 'copy' or 'direct play'.
audio_codec                 Returns the name of the audio codec.
audio_channels              Returns the number of audio channels.
grandparent_title           Returns the title of the item's grandparent.
parent_title                Returns the title of the item's parent.
video_decision              Returns the video transcode decision. Either 'transcode', 'copy' or 'direct play'.
video_codec                 Returns the name of the video codec.
height                      Returns the value of the video height.
width                       Returns the value of the video width.
container                   Returns the value of the media container.
bitrate                     Returns the value of the media bitrate.
video_resolution            Returns the value of the video resolution.
video_framerate             Returns the value of the video framerate.
video_aspect_ratio          Returns the value of the video aspect ratio.
transcode_audio_channels    Returns the amount of audio channels if there is a transcode session.
transcode_audio_codec       Returns the name of the audio codec if there is a transcode session.
transcode_video_codec       Returns the name of the video codec if there is a transcode session.
transcode_width             Returns the video width if there is a transcode session.
transcode_height            Returns the video height if there is a transcode session.
transcode_container         Returns the value of media container if there is a transcode session.
transcode_protocol          Returns the value of media protocol if there is a transcode session.
indexes                     Returns true if the media has media indexes and are enabled

DOCUMENTATION :: END
</%doc>

% if data is not None:
% if data['stream_count'] != '0':
% for a in data['sessions']:
<div class="dashboard-instance" id="instance-${a['session_key']}">
    % if a['type'] == 'movie' or a['type'] == 'episode' or a['type'] == 'track':
    <a href="info?item_id=${a['rating_key']}">
    % endif
        <div class="dashboard-activity-poster">
            % if a['type'] == 'movie' and not a['indexes']:
            <div class="dashboard-activity-poster-face" style="background-image: url(pms_image_proxy?img=${a['art']}&width=500&height=280);"></div>
            % elif a['type'] == 'episode' and not a['indexes']:
            <div class="dashboard-activity-poster-face" style="background-image: url(pms_image_proxy?img=${a['art']}&width=500&height=280);"></div>
            % elif a['indexes']:
            <div class="dashboard-activity-poster-face bif" style="background-image: url(pms_image_proxy?img=${a['bif_thumb']}&width=500&height=280); display: none;"></div>
            % else:
                % if a['type'] == 'track':
                <div class="dashboard-activity-cover-face-bg" style="background-image: url(pms_image_proxy?img=${a['thumb']}&width=300&height=300);"></div>
                <div class="dashboard-activity-cover-face" style="background-image: url(pms_image_proxy?img=${a['thumb']}&width=300&height=300);"></div>
                % elif a['type'] == 'clip':
                    % if a['art'][:4] == 'http':
                    <div class="dashboard-activity-poster-face" style="background-image: url(${a['art']});"></div>
                    % elif a['thumb'][:4] == 'http':
                    <div class="dashboard-activity-poster-face" style="background-image: url(${a['thumb']});"></div>
                    % else:
                        % if a['art']:
                        <div class="dashboard-activity-poster-face" style="background-image: url(pms_image_proxy?img=${a['art']}&width=500&height=280);"></div>
                        % else:
                        <div class="dashboard-activity-poster-face" style="background-image: url(pms_image_proxy?img=${a['thumb']}&width=500&height=280);"></div>
                        % endif
                    % endif
                % elif a['type'] == 'photo':
                <div class="dashboard-activity-poster-face bif" style="background-image: url(pms_image_proxy?img=${a['thumb']}&width=500&height=500);"></div>
                % else:
                <div class="dashboard-activity-cover-face" style="background-image: url(pms_image_proxy?img=${a['thumb']}&width=300&height=300&fallback=cover);"></div>
                % endif
            % endif
            <div class="dashboard-activity-button-info">
                <button type="button" class="btn btn-activity-info btn-lg" data-target="#stream-${a['session_key']}">
                    <i class="fa fa-info-circle"></i>
                </button>
            </div>
            <div id="stream-${a['session_key']}" class="dashboard-activity-info-details-overlay">
                <div class="dashboard-activity-info-details-content">
                    <div class="dashboard-activity-info-platform" id="platform-${a['session_key']}">
                        <strong>${a['player']}</strong><br />
                        % if a['state'] == 'playing':
                        State &nbsp;<strong>Playing</strong>
                        % elif a['state'] == 'paused':
                        State &nbsp;<strong>Paused</strong>
                        % elif a['state'] == 'buffering':
                        State &nbsp;<strong>Buffering</strong>
                        % endif
                    </div>
                    % if a['type'] == 'track':
                        % if a['audio_decision'] == 'direct play':
                        Stream &nbsp;<strong>Direct Play</strong>
                        % elif a['audio_decision'] == 'copy':
                        Stream &nbsp;<strong>Direct Stream</strong>
                        % else:
                        Stream &nbsp;<strong>Transcoding
                            (Speed: ${a['transcode_speed']})
                            % if a['throttled'] == '1':
                            (Throttled)
                            % endif
                        </strong>
                        % endif
                        <br />
                        % if a['audio_decision'] == 'direct play':
                        Audio &nbsp;<strong>Direct Play (${a['audio_codec']}) (${a['audio_channels']}ch)</strong>
                        % elif a['audio_decision'] == 'Copy':
                        Audio &nbsp;<strong>Direct Stream (${a['transcode_audio_codec']}) (${a['transcode_audio_channels']}ch)</strong>
                        % elif a['audio_decision'] != 'transcode':
                        Audio &nbsp;<strong>Transcode (${a['transcode_audio_codec']}) (${a['transcode_audio_channels']}ch)</strong>
                        % endif
                    % elif a['type'] == 'episode' or a['type'] == 'movie' or a['type'] == 'clip':
                        % if a['video_decision'] == 'direct play' and a['audio_decision'] == 'direct play':
                        Stream &nbsp;<strong>Direct Play</strong>
                        % elif a['video_decision'] == 'copy' and a['audio_decision'] == 'copy':
                        Stream &nbsp;<strong>Direct Stream</strong>
                        % else:
                        Stream &nbsp;<strong>Transcoding
                            (Speed: ${a['transcode_speed']})
                            % if a['throttled'] == '1':
                            (Throttled)
                            % endif
                        </strong>
                        % endif
                        <br />
                        % if a['video_decision'] == 'direct play':
                        Video &nbsp;<strong>Direct Play (${a['video_codec']}) (${a['width']}x${a['height']})</strong>
                        % elif a['video_decision'] == 'copy':
                        Video &nbsp;<strong>Direct Stream (${a['transcode_video_codec']}) (${a['width']}x${a['height']})</strong>
                        % elif a['video_decision'] == 'transcode':
                        Video &nbsp;<strong>Transcode (${a['transcode_video_codec']}) (${a['transcode_width']}x${a['transcode_height']})</strong>
                        % endif
                        <br />
                        % if a['audio_decision'] == 'direct play':
                        Audio &nbsp;<strong>Direct Play (${a['audio_codec']}) (${a['audio_channels']}ch)</strong>
                        % elif a['audio_decision'] == 'copy':
                        Audio &nbsp;<strong>Direct Stream (${a['transcode_audio_codec']}) (${a['transcode_audio_channels']}ch)</strong>
                        % elif a['audio_decision'] == 'transcode':
                        Audio &nbsp;<strong>Transcode (${a['transcode_audio_codec']}) (${a['transcode_audio_channels']}ch)</strong>
                        % endif
                    % elif a['type'] == 'photo':
                        % if a['video_decision'] == 'direct play':
                        Stream &nbsp;<strong>Direct Play</strong>
                        % elif a['video_decision'] == 'copy':
                        Stream &nbsp;<strong>Direct Stream</strong>
                        % else:
                        Stream &nbsp;<strong>
                            Transcoding
                            (Speed: ${a['transcode_speed']})
                            % if a['throttled'] == '1':
                            (Throttled)
                            % endif
                        </strong>
                        % endif
                    % endif
                    <br>
                </div>
            </div>
            % if a['type'] != 'photo':
            <div class="dashboard-activity-poster-info-bar">
                <div class="dashboard-activity-poster-info-time">
                    <span class="progress_time">${a['progress']}</span>/<span class="progress_time">${a['duration']}</span>
                </div>
            </div>
            % endif
        </div>
    % if a['type'] == 'movie' or a['type'] == 'episode' or a['type'] == 'track':
    </a>
    % endif
    <div class="dashboard-activity-progress">
        <div class="dashboard-activity-progress-bar">
            <div class="bufferbar" style="width: ${a['transcode_progress']}%">${a['transcode_progress']}%</div>
            <div class="bar" style="width: ${a['progress_percent']}%">${a['progress_percent']}%</div>
        </div>
    </div>
    <div class="dashboard-activity-metadata-wrapper">
        <a href="user?user_id=${a['user_id']}">
            <div class="dashboard-activity-metadata-user-thumb" style="background-image: url(${a['user_thumb']});"></div>
        </a>
        <div class="dashboard-activity-metadata-title">
            % if a['state'] == 'playing':
            <i class="fa fa-play"></i>&nbsp;
            % elif a['state'] == 'paused':
            <i class="fa fa-pause"></i>&nbsp;
            % elif a['state'] == 'buffering':
            <i class="fa fa-spinner"></i>&nbsp;
            % endif
            % if a['type'] == 'episode':
            <a href="info?item_id=${a['rating_key']}">${a['grandparent_title']} - ${a['title']}</a>
            % elif a['type'] == 'movie':
            <a href="info?item_id=${a['rating_key']}">${a['title']}</a>
            % elif a['type'] == 'clip':
            ${a['title']}
            % elif a['type'] == 'track':
            <a href="info?item_id=${a['rating_key']}">${a['grandparent_title']} - ${a['title']}</a>
            % elif a['type'] == 'photo':
            ${a['parent_title']}
            % else:
            ${a['title']}
            % endif
        </div>
        <div class="dashboard-activity-metadata-subtitle">
            % if a['type'] == 'episode':
            S${a['parent_media_index']} &middot; E${a['media_index']}
            % elif a['type'] == 'movie':
            ${a['year']}
            % elif a['type'] == 'track':
            <a href="info?item_id=${a['parent_rating_key']}">${a['parent_title']}</a>
            % elif a['type'] == 'photo':
            ${a['title']}
            % else:
            ${a['year']}
            % endif
        </div>
        <div class="dashboard-activity-metadata-user">
            % if a['user_id']:
            <a href="user?user_id=${a['user_id']}">${a['friendly_name']}</a>
            % else:
            <a href="user?user=${a['user']}">${a['friendly_name']}</a>
            % endif
        </div>
</div>
</div>
<script>
    $("#platform-${a['session_key']}").prepend("<div class='dashboard-activity-info-platform-box' style='background-image: url(" + getPlatformImagePath('${a['platform']}') + ");'>");
</script>

% endfor
<script>
    // When using bif indexes make the image transition a little smoother.
    $('.bif').each(function() {
        $(this).hide().fadeIn(1000);
    });

    // Convert timestamps to readable times
    $('.progress_time').each(function(index) {
        $(this).html(millisecondsToMinutes($(this).text(), false));
    });

    // Show/Hide activity info
    $('.btn-activity-info').on('click', function(e) {
        e.preventDefault();
        $($(this).attr('data-target')).toggle();
    });
</script>
% else:
<div class="text-muted">Nothing is currently being watched.</div><br>
% endif
% else:
<div class="text-muted">There was an error communicating with your Plex Server. Please check your <a
        href="settings">settings</a>.
</div><br>
% endif
