<%doc>
USAGE DOCUMENTATION :: PLEASE LEAVE THIS AT THE TOP OF THIS FILE

For Mako templating syntax documentation please visit: http://docs.makotemplates.org/en/latest/

Filename:           info_children_list.html
Version:            0.1
Variable names:     data [list]

data :: Usable parameters

== Global keys ==
children_type           Returns the type of children in the array.
children_count          Returns the number of episodes in the array.
children_list           Returns an array of episodes.

data['children_list'] :: Usable paramaters

== Global keys ==
rating_key              Returns the unique identifier for the media item.
index                   Returns the episode number.
title                   Returns the name of the episode.
thumb                   Returns the location of the item's thumbnail. Use with pms_image_proxy.
parent_thumb            Returns the location of the item's parent thumbnail. Use with pms_image_proxy.

DOCUMENTATION :: END
</%doc>

% if data != None:
% if data['children_count'] > 0:
<div class="item-children-wrapper">
    <ul class="item-children-instance list-unstyled">
        % for child in data['children_list']:
        % if child['rating_key']:
        % if data['children_type'] == 'track':
        <li class="item-children-list-item">
        % else:
        <li>
        % endif
            <a href="info?item_id=${child['rating_key']}">
                %if data['children_type'] == 'season':
                <div class="item-children-poster">
                    % if child['thumb']:
                    <div class="item-children-poster-face season-poster" style="background-image: url(pms_image_proxy?img=${child['thumb']}&width=300&height=450);">
                    % else:
                    <div class="item-children-poster-face season-poster" style="background-image: url(pms_image_proxy?img=${child['parent_thumb']}&width=300&height=450);">
                    % endif
                        <div class="item-children-card-overlay">
                            <div class="item-children-overlay-text">
                                Season ${child['index']}
                            </div>
                        </div>
                    </div>
                </div>
                % elif data['children_type'] == 'episode':
                <div class="item-children-poster">
                    <div class="item-children-poster-face episode-poster" style="background-image: url(pms_image_proxy?img=${child['thumb']}&width=300&height=450);">
                        <div class="item-children-card-overlay">
                            <div class="item-children-overlay-text">
                                Episode ${child['index']}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-children-instance-text-wrapper episode-item">
                    <h3>${child['title']}</h3>
                </div>
                % elif data['children_type'] == 'album':
                <div class="item-children-poster">
                    <div class="item-children-poster-face album-poster" style="background-image: url(pms_image_proxy?img=${child['thumb']}&width=300&height=300);"></div>
                </div>
                <div class="item-children-instance-text-wrapper album-item">
                    <h3>${child['title']}</h3>
                </div>
                % elif data['children_type'] == 'track':
                    % if loop.index % 2 == 0:
                    <div class="item-children-list-item-even">
                        <span class="item-children-list-item-index">${child['index']}</span>
                        <span class="item-children-list-item-title">${child['title']}</span>
                        <span class="item-children-list-item-duration" id="item-children-list-item-duration-${loop.index + 1}">
                            <script>$('#item-children-list-item-duration-${loop.index + 1}').text(moment.utc(${child['duration']}).format("m:ss"));</script>
                        </span>
                    </div>
                    % else:
                    <div class="item-children-list-item-odd">
                        <span class="item-children-list-item-index">${child['index']}</span>
                        <span class="item-children-list-item-title">${child['title']}</span>
                        <span class="item-children-list-item-duration" id="item-children-list-item-duration-${loop.index + 1}">
                            <script>$('#item-children-list-item-duration-${loop.index + 1}').text(moment.utc(${child['duration']}).format("m:ss"));</script>
                        </span>
                    </div>
                    % endif
                % endif
            </a>
        </li>
        % endif
        % endfor
    </ul>
</div>
% endif
% endif

