<%doc>
USAGE DOCUMENTATION :: PLEASE LEAVE THIS AT THE TOP OF THIS FILE

For Mako templating syntax documentation please visit: http://docs.makotemplates.org/en/latest/

Filename:           info.html
Version:            0.1
Variable names:     data [list]

data :: Usable parameters (if not applicable for media type, blank value will be returned)

== Global keys ==
rating_key              Returns the unique identifier for the media item.
type                    Returns the type of media. Either 'movie', 'episode' or 'show' or 'season'.
art                     Returns the location of the item's artwork
title                   Returns the name of the episode, show, season or movie.
duration                Returns the standard runtime of the media.
content_rating          Returns the age rating for the media.
summary                 Returns a brief description of the media plot.
grandparent_title       Returns the name of the TV show.
parent_index            Returns the season number of the TV show.
index                   Returns the episode number.
parent_thumb            Returns the location of the item's thumbnail. Use with pms_image_proxy.
writers                 Returns an array of writers.
thumb                   Returns the location of the item's thumbnail. Use with pms_image_proxy.
parent_title            Returns the name of the TV show.
rating                  Returns the 5 star rating value for the movie. Between 1 and 5.
year                    Returns the release year of the movie.
genres                  Returns an array of genres.
actors                  Returns an array of actors.
directors               Returns an array of directors.
studio                  Returns the name of the studio.
originally_available_at Returns the air date of the item.

DOCUMENTATION :: END
</%doc>

<%inherit file="base.html"/>

<%def name="headIncludes()">
<link rel="stylesheet" href="interfaces/default/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="interfaces/default/css/dataTables.colVis.css">
<link rel="stylesheet" href="interfaces/default/css/plexpy-dataTables.css">
</%def>

<%def name="body()">
% if data:
<div class="container-fluid">
    <div class="row">
        <div class="art-face" style="background-image:url(pms_image_proxy?img=${data['art']}&width=1920&height=1080)"></div>
        <div class="summary-container">
            <div class="summary-navbar">
                <div class="col-md-12">
                    <div class="summary-navbar-list">
                        % if data['type'] == 'movie':
                        <span>Movies</span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">${data['title']}</a></span>
                        % elif data['type'] == 'show':
                        <span>TV Shows</span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">${data['title']}</a></span>
                        % elif data['type'] == 'season':
                        <span class="hidden-xs hidden-sm">TV Shows</span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a></span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">Season ${data['index']}</a></span>
                        % elif data['type'] == 'episode':
                        <span class="hidden-xs hidden-sm">TV Shows</span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span class="hidden-xs hidden-sm"><a href="info?item_id=${data['grandparent_rating_key']}">${data['grandparent_title']}</a></span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span><a href="info?item_id=${data['parent_rating_key']}">Season ${data['parent_index']}</a></span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">Episode ${data['index']} - ${data['title']}</a></span>
                        % elif data['type'] == 'artist':
                        <span>Music</span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">${data['title']}</a></span>
                        % elif data['type'] == 'album':
                        <span class="hidden-xs hidden-sm">Music</span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a></span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">${data['title']}</a></span>
                        % elif data['type'] == 'track':
                        <span class="hidden-xs hidden-sm">Music</span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span class="hidden-xs hidden-sm"><a href="info?item_id=${data['grandparent_rating_key']}">${data['grandparent_title']}</a></span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-chevron-right"></i></span>
                        <span><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a></span>
                        <span><i class="fa fa-chevron-right"></i></span>
                        <span><a href="#">Track ${data['index']} - ${data['title']}</a></span>
                        % endif
                    </div>
                </div>
            </div>
            <div class="summary-content-title-wrapper">
                <div class="col-md-9">
                    <div class="summary-content-poster hidden-xs hidden-sm">
                        % if data['type'] == 'track':
                        <a href="http://app.plex.tv/web/app#!/server/${config['pms_identifier']}/details/%2Flibrary%2Fmetadata%2F${data['parent_rating_key']}" target="Plex/Web" title="View in Plex/Web">
                        % else:
                        <a href="http://app.plex.tv/web/app#!/server/${config['pms_identifier']}/details/%2Flibrary%2Fmetadata%2F${data['rating_key']}" target="Plex/Web" title="View in Plex/Web">
                        % endif
                            % if data['type'] == 'episode':
                            <div class="summary-poster-face-episode" style="background-image: url(pms_image_proxy?img=${data['thumb']}&width=500&height=280&fallback=poster);">
                                <div class="summary-poster-face-overlay">
                                    <span></span>
                                </div>
                            </div>
                            % elif data['type'] == 'artist' or data['type'] == 'album' or data['type'] == 'track':
                            <div class="summary-poster-face-track" style="background-image: url(pms_image_proxy?img=${data['thumb']}&width=500&height=500&fallback=poster);">
                                <div class="summary-poster-face-overlay">
                                    <span></span>
                                </div>
                            </div>
                            % else:
                            <div class="summary-poster-face" style="background-image: url(pms_image_proxy?img=${data['thumb']}&width=300&height=450&fallback=poster);">
                                <div class="summary-poster-face-overlay">
                                    <span></span>
                                </div>
                            </div>
                            % endif
                        </a>
                    </div>
                    <div class="summary-content-title">
                        % if data['type'] == 'movie' or data['type'] == 'show' or data['type'] == 'artist':
                        <h1>&nbsp;</h1><h1>${data['title']}</h1>
                        % elif data['type'] == 'season':
                        <h1>&nbsp;</h1><h1><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a></h1>
                        <h3 class="hidden-xs">S${data['index']}</h3>
                        % elif data['type'] == 'episode':
                        <h1><a href="info?item_id=${data['grandparent_rating_key']}">${data['grandparent_title']}</a></h1>
                        <h2>${data['title']}</h2>
                        <h3 class="hidden-xs">S${data['parent_index']} &middot; E${data['index']}</h3>
                        % elif data['type'] == 'album':
                        <h1><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a></h1>
                        <h2>${data['title']}</h2>
                        % elif data['type'] == 'track':
                        <h1><a href="info?item_id=${data['grandparent_rating_key']}">${data['grandparent_title']}</a></h1>
                        <h2><a href="info?item_id=${data['parent_rating_key']}">${data['parent_title']}</a> - ${data['title']}</h2>
                        <h3 class="hidden-xs">T${data['index']}</h3>
                        % endif
                    </div>
                </div>
            </div>
            <div class="summary-content-wrapper">
                <div class="col-md-9">
                    % if data['type'] == 'movie' or data['type'] == 'show' or data['type'] == 'season':
                    <div class="summary-content-padding hidden-xs hidden-sm" style="height: 275px;"></div>
                    % elif data['type'] == 'episode':
                    <div class="summary-content-padding hidden-xs hidden-sm" style="height: 40px;"></div>
                    % elif data['type'] == 'artist' or data['type'] == 'album' or data['type'] == 'track':
                    <div class="summary-content-padding hidden-xs hidden-sm" style="height: 150px;"></div>
                    % else:
                    <div class="summary-content-padding hidden-xs hidden-sm"></div>
                    % endif
                    <div class="summary-content">
                        <div class="summary-content-details-wrapper">
                            % if data['rating']:
                            <div id="stars" class="rateit hidden-xs hidden-sm" data-rateit-value=""
                                 data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            % endif
                            <div class="summary-content-details-tag">
                                % if data['directors']:
                                Directed by <strong> ${data['directors'][0]}</strong>
                                % endif
                            </div>
                            <div class="summary-content-details-tag">
                                % if data['studio']:
                                Studio <strong> ${data['studio']}</strong>
                                % endif
                            </div>
                            <div class="summary-content-details-tag">
                                % if data['type'] == 'movie':
                                Year <strong> ${data['year']}</strong>
                                % elif data['type'] == 'show':
                                Aired <strong> ${data['year']}</strong>
                                % elif data['type'] == 'episode':
                                Aired <strong> <span id="airdate">${data['originally_available_at']}</span></strong>
                                % elif data['type'] == 'album' or data['type'] == 'track':
                                Released <strong> ${data['year']}</strong>
                                % endif
                            </div>
                            <div class="summary-content-details-tag">
                                % if data['duration']:
                                Runtime <strong> <span id="runtime">${data['duration']}</span> mins</strong>
                                % endif
                            </div>
                            <div class="summary-content-details-tag">
                                % if data['content_rating']:
                                Rated <strong> ${data['content_rating']} </strong>
                                % endif
                            </div>
                        </div>
                        % if data['tagline']:
                        <div class="summary-content-summary">
                            <p><strong> ${data['tagline']} </strong></p>
                        </div>
                        % endif
                        <div class="summary-content-summary">
                            <p> ${data['summary']} </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="summary-content-people-wrapper hidden-xs hidden-sm">
                        % if data['writers']:
                        <div class="summary-content-writers">
                            <strong>Written by</strong>
                            <ul>
                                % for writer in data['writers']:
                                % if loop.index < 5:
                                <li>
                                    ${writer}
                                </li>
                                % endif
                                % endfor
                            </ul>
                        </div>
                        % endif
                        % if data['actors']:
                        <div class="summary-content-actors">
                            <strong>Starring</strong>
                            <ul>
                                % for actor in data['actors']:
                                % if loop.index < 5:
                                <li>
                                    ${actor}
                                </li>
                                % endif
                                % endfor
                            </ul>
                        </div>
                        % endif
                    </div>
                    <div class="summary-content-people-wrapper hidden-xs hidden-sm">
                        % if data['genres']:
                        <div class="summary-content-genres">
                            <strong>Genres</strong>
                            <ul>
                                % for genre in data['genres']:
                                % if loop.index < 5:
                                <li>
                                    ${genre}
                                </li>
                                % endif
                                % endfor
                            </ul>
                        </div>
                        % endif
                    </div>
                </div>
                % if data['type'] == 'show':
                <div class='col-md-12'>
                    <div class='table-card-header'>
                        <div class="header-bar">
                            <span>Season List for <strong>${data['title']}</strong></span>
                        </div>
                    </div>
                    <div class='table-card-back'>
                        <div id="children-list"></div>
                    </div>
                </div>
                % elif data['type'] == 'season':
                <div class='col-md-12'>
                    <div class='table-card-header'>
                        <div class="header-bar">
                            <span>Episode List for <strong>${data['title']}</strong></span>
                        </div>
                    </div>
                    <div class='table-card-back'>
                        <div id="children-list"></div>
                    </div>
                </div>
                % elif data['type'] == 'artist':
                <div class='col-md-12'>
                    <div class='table-card-header'>
                        <div class="header-bar">
                            <span>Album List for <strong>${data['title']}</strong></span>
                        </div>
                    </div>
                    <div class='table-card-back'>
                        <div id="children-list"></div>
                    </div>
                </div>
                % elif data['type'] == 'album':
                <div class='col-md-12'>
                    <div class='table-card-header'>
                        <div class="header-bar">
                            <span>Track List for <strong>${data['title']}</strong></span>
                        </div>
                    </div>
                    <div class='table-card-back'>
                        <div id="children-list"></div>
                    </div>
                </div>
                % endif
                <div class='col-md-12'>
                    <div class='table-card-header'>
                        <div class="header-bar">
                            <span>Watch History for <strong>${data['title']}</strong></span>
                        </div>
                        <div class="button-bar">
                            <div class="colvis-button-bar hidden-xs"></div>
                            <button class="btn btn-danger btn-edit" data-toggle="button" aria-pressed="false" autocomplete="off" id="row-edit-mode">
                                <i class="fa fa-trash-o"></i> Delete mode
                            </button>
                            <div class="alert alert-danger alert-edit" role="alert" id="row-edit-mode-alert"><i class="fa fa-exclamation-triangle"></i>&nbspSelect rows to delete. Data is deleted upon exiting delete mode.</div>
                        </div>
                    </div>
                    <div class="table-card-back">
                        <table class="display" id="history_table" width="100%">
                            <thead>
                                <tr>
                                    <th align='left' id="delete">Delete</th>
                                    <th align='left' id="time">Time</th>
                                    <th align='left' id="friendly_name">User</th>
                                    <th align='left' id="ip_address">IP Address</th>
                                    <th align='left' id="platform">Platform</th>
                                    <th align='left' id="title">Title</th>
                                    <th align='left' id="started">Started</th>
                                    <th align='left' id="paused_counter">Paused</th>
                                    <th align='left' id="stopped">Stopped</th>
                                    <th align='left' id="duration">Duration</th>
                                    <th align='left' id="percent_complete"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info-modal">
                    </div>
                    <div class="modal fade" id="ip-info-modal" tabindex="-1" role="dialog" aria-labelledby="ip-info-modal">
                    </div>
                    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>
                                <div class="modal-body" style="text-align: center;">
                                    <p>Are you REALLY sure you want to delete <strong><span id="deleteCount"></span></strong> history item(s)?</p>
                                    <p>This is permanent and cannot be undone!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal" id="confirm-delete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
% else:
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h3>
                Error retrieving item data. This media may not be available in the Plex Media Server database
                anymore.
            </h3>
        </div>
    </div>
</div>
% endif
</%def>

<%def name="javascriptIncludes()">
<script src="interfaces/default/js/jquery.rateit.min.js"></script>
<script src="interfaces/default/js/jquery.dataTables.min.js"></script>
<script src="interfaces/default/js/dataTables.colVis.js"></script>
<script src="interfaces/default/js/dataTables.bootstrap.min.js"></script>
<script src="interfaces/default/js/dataTables.bootstrap.pagination.js"></script>
<script src="interfaces/default/js/moment-with-locale.js"></script>

% if data:
% if data['type'] == 'movie' or data['type'] == 'show' or data['type'] == 'episode':
<script>
    // Convert rating to 5 star rating type
    var starRating = Math.round(${data['rating']} / 2);
    $('#stars').attr('data-rateit-value', starRating);
</script>
% endif
<script src="interfaces/default/js/tables/history_table.js"></script>
% if data['type'] == 'show' or data['type'] == 'artist':
<script>
    function get_history() {
        history_table_options.ajax = {
            "url": "get_history",
            type: 'post',
            data: function ( d ) {
                return { 'json_data': JSON.stringify( d ),
                    'grandparent_rating_key': ${data['rating_key']} };
            }
        }
    }
</script>
% elif data['type'] == 'season' or data['type'] == 'album':
<script>
    function get_history() {
        history_table_options.ajax = {
            "url": "get_history",
            type: 'post',
            data: function ( d ) {
                return { 'json_data': JSON.stringify( d ),
                    'parent_rating_key': ${data['rating_key']} };
            }
        }
    }
</script>
% elif data['type'] == 'episode' or data['type'] == 'track' or data['type'] == 'movie':
<script>
    function get_history() {
        history_table_options.ajax = {
            "url": "get_history",
            type: 'post',
            data: function ( d ) {
                return { 'json_data': JSON.stringify( d ),
                    'rating_key': ${data['rating_key']} };
            }
        }
    }
</script>
% endif
<script>
    $(document).ready(function () {
        get_history();
        history_table = $('#history_table').DataTable(history_table_options);
        var colvis = new $.fn.dataTable.ColVis(history_table, { buttonText: '<i class="fa fa-columns"></i> Select columns', buttonClass: 'btn btn-dark', exclude: [0, 10] });
        $(colvis.button()).appendTo('div.colvis-button-bar');

        clearSearchButton('history_table', history_table);

        $('#row-edit-mode').on('click', function() {
            $('#row-edit-mode-alert').fadeIn(200);

            if ($(this).hasClass('active')) {
                if (history_to_delete.length > 0) {
                    $('#deleteCount').text(history_to_delete.length);
                    $('#confirm-modal').modal();
                    $('#confirm-modal').one('click', '#confirm-delete', function () {
                        for (var i = 0; i < history_to_delete.length; i++) {
                            $.ajax({
                                url: 'delete_history_rows',
                                data: { row_id: history_to_delete[i] },
                                async: true,
                                success: function (data) {
                                    var msg = "History deleted";
                                    showMsg(msg, false, true, 2000);
                                }
                            });
                        }
                        history_table.draw();
                    });
                }

                $('.delete-control').each(function () {
                    $(this).addClass('hidden');
                    $('#row-edit-mode-alert').fadeOut(200);
                });

            } else {
                history_to_delete = [];
                $('.delete-control').each(function() {
                    $(this).find('button.btn-danger').toggleClass('btn-warning').toggleClass('btn-danger');
                    $(this).removeClass('hidden');
                });
            }
        });
    });
</script>
% if data['type'] == 'show' or data['type'] == 'season' or data['type'] == 'artist' or data['type'] == 'album':
<script>
    $.ajax({
        url: 'get_item_children',
        type: "GET",
        async: true,
        data: { rating_key : ${data['rating_key']} },
        complete: function(xhr, status) {
        $("#children-list").html(xhr.responseText); }
    });
</script>
% endif
<script>
    $("#airdate").html(moment($("#airdate").text()).format('MMM DD, YYYY'));
    $("#runtime").html(millisecondsToMinutes($("#runtime").text(), true));
    $('div.art-face').animate({ opacity: 0.2 }, { duration: 1000 });
</script>
% endif
</%def>
