<%doc>
USAGE DOCUMENTATION :: PLEASE LEAVE THIS AT THE TOP OF THIS FILE

For Mako templating syntax documentation please visit: http://docs.makotemplates.org/en/latest/

Filename:           recently_added.html
Version:            0.1
Variable names:     data [array]

data[array_index] :: Usable parameters

== Global keys ==
rating_key              Returns the unique identifier for the media item.
type                    Returns the type of media. Either 'movie' or 'season'.
thumb                   Returns the location of the item's thumbnail. Use with pms_image_proxy.
added_at                Returns the time when the media was added to the library.
title                   Returns the name of the movie or season.
parent_title            Returns the name of the TV Show a season belongs too.

== Only if 'type' is 'movie' ==
year                    Returns the movie release year.

DOCUMENTATION :: END
</%doc>

% if data != None:
<div class="dashboard-recent-media-row">
    <ul class="dashboard-recent-media list-unstyled">
        % for item in data:
        <div class="dashboard-recent-media-instance">
            <li>
                % if item['type'] == 'season' or item['type'] == 'movie':
				<a href="info?item_id=${item['rating_key']}">
					<div class="dashboard-recent-media-poster">
						<div class="dashboard-recent-media-poster-face" style="background-image: url(pms_image_proxy?img=${item['thumb']}&width=300&height=450&fallback=poster);">
                            <div class="dashboard-recent-media-overlay">
                                <div class="dashboard-recent-media-overlay-text" id="added_at-${item['rating_key']}">
                                    <script>
                                        $('#added_at-${item['rating_key']}').text('Added ' + moment(${item['added_at']}, "X").fromNow())
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="dashboard-recent-media-metacontainer">
						% if item['type'] == 'season':
						<h3>${item['parent_title']}</h3>
						<h3 class="text-muted">${item['title']}</h3>
						% elif item['type'] == 'movie':
						<h3>${item['title']}</h3>
						<h3 class="text-muted">${item['year']}</h3>
						% endif
					</div>
				</a>
				% elif item['type'] == 'album':
                <a href="info?item_id=${item['rating_key']}">
                    <div class="dashboard-recent-media-cover">
                        <div class="dashboard-recent-media-cover-face" style="background-image: url(pms_image_proxy?img=${item['thumb']}&width=300&height=300&fallback=cover);">
                            <div class="dashboard-recent-media-overlay">
                                <div class="dashboard-recent-media-overlay-text" id="added_at-${item['rating_key']}">
                                    <script>
                                        $('#added_at-${item['rating_key']}').text('Added ' + moment(${item['added_at']}, "X").fromNow())
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-recent-media-metacontainer">
                        <h3>${item['parent_title']}</h3>
                        <h3 class="text-muted">${item['title']}</h3>
                    </div>
                </a>
				% endif
            </li>
        </div>
        % endfor
    </ul>
</div>
% else:
<div class="text-muted">There was an error communicating with your Plex Server. Please check your <a href="settings">settings</a>.
</div><br>
% endif